{
    "Logging": {
        "LogLevel": {
            "Default": "Information",
            "Microsoft.AspNetCore": "Warning"
        }
    },
    "AllowedHosts": "*",
    "ConnectionStrings": {
        "DefaultConnection": "server=YOUR_SERVER;database=YOUR_DATABASE;user=YOUR_USER;password=YOUR_PASSWORD;"
    },
    "JWT": {
        "Key": "YOUR_SECRET_KEY",
        "Issuer": "YOUR_ISSUER",
        "Audience": "YOUR_AUDIENCE",
        "Expire": "YOUR_EXPIRE_TIME_IN_MINUTES",
        "RefreshTokenExpiry": "YOUR_REFRESH_TOKEN_EXPIRY_TIME_IN_DAYS",
        "Algorithm": "YOUR_ALGORITHM"
    },
    "Google": {
        "ClientId": "YOUR_GOOGLE_CLIENT_ID"
    },
    "EmailSettings": {
        "DisplayName": "YOUR_DISPLAY_NAME",
        "From": "YOUR_EMAIL_FROM",
        "Host": "smtp.YOUR_EMAIL_PROVIDER.com",
        "Port": 587,
        "Email": "YOUR_EMAIL",
        "Password": "YOUR_PASSWORD",
        "EnableSsl": true,
        "UseDefaultCredentials": false
    },
    "Admin": {
        "Password": "YOUR_ADMIN_PASSWORD",
        "Name": "YOUR_ADMIN_NAME",
        "PhoneNumber": "YOUR_ADMIN_PHONE_NUMBER"
    },    "Frontend": {
		"AdminUrl": "YOUR_ADMIN_URL",
		"UserUrl": "YOUR_USER_URL"
	},
    "OpenAI": {
        "ApiKey": "YOUR_OPENAI_API_KEY"
    }
}
